<div class="auth-page">
  <div class="auth-page__container auth-page__container--left">
    <img
      class="brand__logo"
      src="/assets/images/logo-brand.svg"
      alt="logo brand here"
    />
  </div>
  <div class="auth-page__container auth-page__container--right">
    <form
      class="auth-page__form"
      [formGroup]="authFormGroup"
      (ngSubmit)="onSubmit()"
    >
      <div class="auth-page__logo">
        <img
          class="header__logo"
          src="/assets/images/logo-header.svg"
          alt="logo header here"
        />
      </div>
      <div class="auth-page__header">
        <h1>{{ formTitleTxt }}</h1>
      </div>
      <div class="auth-page__fields">
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          [hideRequiredMarker]="true"
        >
          <mat-label>Username</mat-label>
          <input matInput type="text" formControlName="username" />
          <mat-error *ngIf="f['username'].touched && f['username'].invalid">
            {{
              !f["username"].hasError("invalidField")
                ? f["username"].hasError("userExist")
                  ? "Name already exist"
                  : "Username is required"
                : ""
            }}
          </mat-error>
        </mat-form-field>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          [hideRequiredMarker]="true"
        >
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="isShowPassword ? 'text' : 'password'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="toggleShowPassword($event)"
            [attr.aria-label]="'Hide password'"
          >
            <mat-icon>{{
              isShowPassword ? "visibility" : "visibility_off"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="f['password'].touched && f['password'].invalid">{{
            !f["password"].hasError("invalidField") ? passwordErrorMsg : "Invalid username or password."
          }}</mat-error>
          <mat-hint *ngIf="isPasswordStrong && !isSignIn" class="primary-color"
            >Password strength: Strong</mat-hint
          >
        </mat-form-field>
        <ng-container *ngIf="!isSignIn">
          <ul class="auth-page__password-requirements">
            <li [ngClass]="{ 'is-met': containsNameOrEmail }">
              Cannot contain your name or email address
            </li>
            <li [ngClass]="{ 'is-met': hasMinLength }">Atleast 8 characters</li>
            <li [ngClass]="{ 'is-met': hasNumberOrSymbol }">
              Contains a number or symbol
            </li>
          </ul>
        </ng-container>
      </div>
      <button
        type="submit"
        mat-flat-button
        color="primary"
      >
        {{ isSignIn ? "Sign in" : "Submit" }}
      </button>
      <div class="auth-page__no-account mat-h2">
        <div>{{ isSignIn ? "Don't" : "Already" }} have an account?</div>
        <div class="primary-color" role="button" (click)="handleSignUp()">
          {{ isSignIn ? "Sign up" : "Sign in" }}
        </div>
      </div>
      <div class="custom-divider">
        <mat-divider></mat-divider>
        <span>OR</span>
        <mat-divider></mat-divider>
      </div>
      <div class="auth-page__alt-auth">
        <button type="button" mat-stroked-button (click)="loginWithGoogle()" disabled>
          <mat-icon svgIcon="google"></mat-icon>
          Continue with Google
        </button>
        <button type="button" mat-stroked-button (click)="loginWithFacebook()" disabled>
          <mat-icon svgIcon="facebook"></mat-icon>
          Continue with Facebook
        </button>
      </div>
    </form>
  </div>
</div>
