@import '_variable';

.breadcrumb {
  display: flex;
  gap: 12px;
  margin-bottom: 16px;

  &__item {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    &-back {
      cursor: pointer;
      margin-right: 12px;
    }

    &-back > .mat-icon {
      font-size: 14px;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-decoration: none;
      cursor: pointer;
      color: $secondary-white-color;
    }

    & > a.breadcrumb__item-back {
      color: $primary-blue-color;
    }

    & h2 {
      margin-bottom: 0;
    }
  } 

  &__item.is--active {
    color: $secondary-white-color;
    font-weight: bold;
  }

  &__item--last {
    display: flex;
    gap: 4px;
  }

  &__item--last h2:last-child {
    color: $text-primary-color;
  }
}
