<div class="todo-form__container">
  <form [formGroup]="todoFormGroup" class="todo-form">
    <div class="todo-form__layout">
      <div class="todo-form__row">
        <div class="todo-form__column not-full-width">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
          >
            <mat-label>Priority</mat-label>
            <mat-select formControlName="priority" name="priority">
              <ng-container *ngFor="let item of priorityList">
                <mat-option [value]="item.value">{{ item.label }}</mat-option>
              </ng-container>
            </mat-select>
            <mat-error
                *ngIf="
                  f['priority']?.touched && f['priority']?.invalid
                "
                >Must not be empty</mat-error>
          </mat-form-field>
        </div>
        <div class="todo-form__column not-full-width">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
          >
            <mat-label>Status</mat-label>
            <mat-select formControlName="status" name="status">
              <ng-container *ngFor="let item of statusList">
                <mat-option [value]="item.value">{{ item.label }}</mat-option>
              </ng-container>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
      <div class="todo-form__row">
        <div class="todo-form__column">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
            [style.fontSize]="'20px'"
          >
            <mat-label>Title</mat-label>
            <textarea
              matInput
              formControlName="title"
              cdkTextareaAutosize
              maxlength="25"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="7"
              class="task-title__field"
            ></textarea>
            <mat-error
                *ngIf="
                  f['title']?.touched && f['title']?.invalid
                "
                >Must not be empty</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="todo-form__row">
        <div class="todo-form__column">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
          >
            <mat-label>Date Created</mat-label>
            <input
              matInput
              formControlName="dateCreated"
            />
            <mat-datepicker #dateCreatedPicker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="todo-form__column">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
          >
            <mat-label>Due Date</mat-label>
            <input
              matInput
              formControlName="dueDate"
              [matDatepicker]="dateDuePicker"
            />
            <mat-datepicker-toggle
              matIconSuffix
              [for]="dateDuePicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #dateDuePicker></mat-datepicker>
            <mat-error
                *ngIf="
                  f['dueDate']?.touched && f['dueDate']?.invalid
                "
                >{{ dueDateError? 'Must be later than Date Created' : 'Must not be empty'}}</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="todo-form__row">
        <div class="todo-form__column">
          <mat-form-field
            appearance="outline"
            floatLabel="always"
            [hideRequiredMarker]="true"
          >
            <mat-label>Details</mat-label>
            <textarea
              matInput
              formControlName="details"
              maxlength="300"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="7"
            ></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="todo-form__row">
        <div class="todo-form__column">
          <div
            class="todo-form__upload"
            appDragDrop
            (fileDropped)="onFileDropped($event)"
          >
            <div class="upload-mat-label">Attachments</div>
            <div class="upload-file__label">
              <input
                id="file"
                type="file"
                accept="image/png, image/jpeg"
                (change)="onFileUpload($event)"
                [multiple]="true"
                #myFileInput
              />
              <div class="upload-text__note">
                <mat-icon *ngIf="!fileErrorMsg" svgIcon="upload"></mat-icon>
                <div class="upload-content__description">
                  <ng-container *ngIf="!fileErrorMsg; else errorUpload">
                    <div>
                      Drop files to attach, or
                      <span
                        class="browse-file-txt"
                        (click)="myFileInput.click()"
                      >
                        browse</span
                      >.
                    </div>
                  </ng-container>
                  <ng-template #errorUpload>
                    <div class="upload-content__error" aria-hidden="true">
                      {{ fileErrorMsg }}
                    </div>
                    <span class="browse-file-txt" (click)="myFileInput.click()"
                      >Click here to upload again</span
                    >.
                  </ng-template>
                </div>
              </div>
              <ng-container *ngIf="selectedFileData.length > 0">
                <div class="upload-files">
                  <ng-container
                    *ngFor="let item of selectedFileData; let i = index"
                  >
                    <div class="upload-files__image">
                      <div class="image-wrapper">
                        <div
                          class="image-delete"
                          title="Remove"
                          (click)="onRemoveAttachment(i)"
                        >
                          <mat-icon>close</mat-icon>
                        </div>
                        <img [src]="item.urlPath" alt="uploaded file" />
                      </div>
                      <div
                        class="upload-files__name"
                        [title]="item?.file?.name"
                      >
                        {{ item?.file?.name }}
                      </div>
                      <div class="upload-files__size">
                        {{ item?.file?.size | kiloBytes }}
                      </div>
                    </div>
                  </ng-container>
                </div>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <div class="todo-form__row">
        <div class="todo-form__column">
          <div class="todo-form__subtask">
            <mat-divider [style.width]="'100%'"></mat-divider>
            <app-subtask-form
              [formArray]="f['subtasks'] | asFormArray"
              [formAction]="formAction"
            ></app-subtask-form>
          </div>
        </div>
      </div>
    </div>
  </form>
  <div class="todo-form__buttons">
    <button
      mat-stroked-button
      color="primary"
      class="btn--is-rounded stroked--is-primary"
      (click)="onCancel()"
    >
      Cancel
    </button>
    <button
      mat-flat-button
      color="primary"
      class="btn--is-rounded"
      (click)="onSave()"
      [disabled]="todoFormGroup.invalid"
    >
      Save
    </button>
  </div>
</div>
