<div class="data-table">
  <table
    mat-table
    [dataSource]="dataSource"
    class="custom-datatable"
    matSort
    multiTemplateDataRows
  >
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-icon svgIcon="delete"></mat-icon>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
          [aria-label]="checkboxLabel(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="title" class="custom-datatable__column-title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
      <td mat-cell *matCellDef="let item">
        <button
          *ngIf="item.subtasks.length > 0"
          disableRipple
          aria-label="expand row"
          (click)="onRowExpand(item); $event.stopPropagation()"
          class="row-expand__btn"
          [class.row-expand__btn-expanded]="isExpanded(item)"
        >
          <mat-icon>arrow_right</mat-icon>
        </button>
        <div class="column-title__text">
          <a [routerLink]="['/home/todo-list/view', item.taskId]">{{ item.title }}</a>
          <mat-icon *ngIf="item.attachments.length > 0" class="row-attachment__icon">attachment</mat-icon>
        </div>
      </td>
    </ng-container>
    <ng-container matColumnDef="expandedDetail">
      <td
        mat-cell
        *matCellDef="let task"
        [attr.colspan]="displayedColumns.length"
      >
        <div
          class="extended-table"
          [@detailExpand]="isExpanded(task) ? 'expanded' : 'collapsed'"
        >
          <div class="extended-table__grid">
            <div class="extended-table__row" *ngFor="let item of task.subtasks">
              <div class="extended-table__column">{{ item?.title  }}</div>
              <div class="extended-table__column"> <app-status-badge [status]="item.status" [isSmall]="true"></app-status-badge> </div>
            </div>
          </div>
        </div>
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="dateDue">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Due Date</th>
      <td mat-cell *matCellDef="let item">
        {{ item.dateDue | date : "MM/dd/yyyy" }}
      </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="priority">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Priority</th>
      <td mat-cell *matCellDef="let item">
        <app-priority-badge [priority]="item.priority"></app-priority-badge></td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let item">
        <app-status-badge [status]="item.status" [dateCompletion]="item.dateCompletion"></app-status-badge>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <button mat-icon-button disableRipple><mat-icon svgIcon="edit"></mat-icon></button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: ['expandedDetail']"
      class="expanded-detail-row"
    ></tr>
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="6">
        <div class="data-table__no-data">
          <h1>No Tasks Found.</h1>
          <span>Ready to Create a New Task?</span>
        </div>
      </td>
    </tr>
  </table>
</div>
