@import '_variable';

.data-table {
  overflow: auto;

  &__container {
    height: calc(100vh - 186px);
    padding-right: 6px;
    margin-bottom: 24px;
  }

  &__no-data {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 250px);
    width: 100%;
    color: $secondary-white-color;
  }

  button.delete-button {
    width: unset;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-white-color;
    border: 1px solid $tertiary-white-color;
    border-radius: 6px;
    cursor: pointer;
    padding: 4px;
    gap: 4px;

    &:hover {
      background-color: $secondary-blue-color;
    }

    .delete-button__badge {
      background-color: $tertiary-blue-color;
      color: $primary-white-color;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      width: 20px;
      border-radius: 50px;
    }
  }

  .due-date__column {
    & > .due-date__label {
      font-size: 12px;
    }
  }
}

.mdc-data-table__table.custom-datatable {
  box-shadow: unset;
  border-radius: 16px;
  border: 1px solid $tertiary-white-color;
  overflow: hidden;

  .mat-column-select {
    width: 100px;
  }
  
  .mat-column-select .mat-icon {
    height: 20px;
    width: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  .mat-icon.delete-icon__inactive {
    margin: 0 10px;
  }

  .mat-column-edit .mat-icon {
    height: 18px;
    width: 18px;
    align-items: center;
    justify-content: center;
    display: flex;
  }

  td.mat-column-title {
    position: relative;
    overflow: visible;
  }

  td.mat-column-title > .column-title__text {
    max-width: 200px;
    word-break: break-word; /* For older browsers */
    word-break: break-all; /* Ensures breaking happens */
    white-space: normal; /* Allows line breaks */
    text-decoration: underline;
    font-weight: 600;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

  .column-title__text > a {
    cursor: pointer;
    color: $text-primary-color;
  }

  button.row-expand__btn{
    all: unset;
    transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1);
    position: absolute;
    left: -18px;
    bottom: 0;
    top: 0;
    cursor: pointer;
  }

  .mat-icon.row-attachment__icon {
    transform: rotate(-90deg);
    color: $secondary-white-color;
  }
  
  button.row-expand__btn-expanded {
    transform: rotate(90deg);
  }

  td.mat-column-expandedDetail {
    padding-left: 0;
    padding-right: 0;
  }
  
  .extended-table {
    overflow: hidden;
    display: flex;

    &__grid {
      width: 100%;
    }

    &__row {
      display: flex;
      justify-content: space-evenly;
      gap: 16px;
      padding: 16px 0;
      border-bottom: 1px solid  $tertiary-white-color;
    }

    &__column {
      width: 24%;
      padding-right: 32px;
      font-weight: 600;
    }

    &__column:last-child {
      display: flex;
      justify-content: flex-end;
      font-weight: 400;
    }
  }
  
  tr.expanded-detail-row {
    height: 0;
  }

 tr.selected-row {
    background-color: $secondary-blue-color;
  }
}
