@import '_variable';

.home-page {
  &__container{
    width: auto;
    height: 100vh;
    background-color: $primary-white-color;
  }

  &__sidenav{
    min-width: 298px;
    padding: 14px 24px;
  }
  &__main {
    padding: 20px 16px 20px 0px;
  }

  .mat-drawer-content {
    overflow: hidden;
  }

  .main-container {
    background-color: $secondary-blue-color;
    width: 100%;
    height: 100%;
    border-radius: 16px;
    padding: 12px 16px;
  }

  .main-header__over {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 16px;
  }

  .mat-drawer-side {
    border-right-width: 0px;
  }
}