<div class="sidenav-header">
  <img class="sidenav-header__logo" src="/assets/images/logo-header.svg" alt="logo header here" />
  <mat-divider></mat-divider>
</div>
<div class="sidenav-user">
  <div class="sidenav-user__avatar">
    <img src="/assets/images/avatar.svg" alt="logo header here" />
  </div>
  <div class="sidenav-user__name">{{ username }}</div>
</div>
<div class="sidenav-menu">
  <mat-list>
    <mat-list-item>
      <a class="sidenav-menu__item" routerLink="/home" routerLinkActive="sidenav-menu__item--is-active" [routerLinkActiveOptions]="{ exact: false }">
        <mat-icon aria-hidden="false" aria-label="home icon">home</mat-icon>
        Home
      </a>
    </mat-list-item>
    <mat-list-item>
      <a class="sidenav-menu__item" href="#" (click)="onLogout($event)">
        <mat-icon aria-hidden="false" aria-label="logout icon">logout</mat-icon>
        Sign out
      </a>
    </mat-list-item>
  </mat-list>
</div>