/* You can add global styles to this file, and also import other style files */

@import '_variable';
@import '_material.theme';


html, body { height: 100%; }
body { margin: 0; padding: 0; overflow-x: hidden; font-family: Roboto, "Helvetica Neue", sans-serif; font-family: 14px; color: $text-primary-color; }

* {
  box-sizing: border-box;
}

button.btn--is-rounded {
  border-radius: 24px;
  min-width: 100px;
}

.mat-mdc-menu-item:not([disabled]):hover,
.mat-mdc-menu-item:not([disabled]).mat-mdc-menu-item-highlighted {
  background-color: $secondary-blue-color !important;
}

.mat-mdc-outlined-button:not(:disabled).stroked--is-primary {
  border-color: $primary-blue-color;
}

.mdc-checkbox .mdc-checkbox__native-control:enabled~.mdc-checkbox__background .mdc-checkbox__checkmark {
  color: $primary-white-color !important;
}

.mdc-text-field--outlined.mdc-text-field--invalid:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: $text-error-color;
}

.mat-mdc-standard-chip:not(.mdc-evolution-chip--disabled) {
  background-color: $primary-white-color !important;
  border: 1px solid #ccc;
}

/* Ensure default arrow stays visible */
.mat-sort-header-arrow.ng-trigger.ng-trigger-arrowPosition {
  opacity: 1 !important;
  transform: none !important;
  margin-top: 10px;

  &:hover {
  transform: none !important;
  transition: none !important;

  }
}
/* Ensure the default Material arrows are fully hidden */
.mat-sort-header-stem,
.mat-sort-header-pointer-left,
.mat-sort-header-pointer-right {
  display: none !important;
}

.mat-sort-header-indicator .ng-trigger .ng-trigger-indicator {
  transform: none !important;
  transition: none !important;
}

/* Show both arrows by default (unsorted state) */
.mat-sort-header-arrow .mat-sort-header-indicator::before {
  content: "expand_less expand_more";
  font-family: "Material Icons";
  line-height: 10px;
  margin-top: 0px;
}

/* Prevent hover/click shifting */
.mat-sort-header-arrow {
  transform: unset !important;
  transition: unset !important;
}

/* Ensure no movement on hover */
.mat-sort-header-arrow .mat-sort-header-indicator {
  transform: translateY(0) !important; /* Reset the inline transform */
  transition: none !important; /* Prevent hover animation */
}
.mat-sort-header:hover .mat-sort-header-arrow,
.mat-sort-header:active .mat-sort-header-arrow {
  transform: unset !important;
}

/* Show only the ascending arrow when sorted ascending */
[aria-sort="ascending"] .mat-sort-header-arrow .mat-sort-header-indicator::before {
  content: "expand_less";
  opacity: 1 !important;
  line-height: 10px;
  margin-top: -10px;
}

/* Show only the descending arrow when sorted descending */
[aria-sort="descending"] .mat-sort-header-arrow .mat-sort-header-indicator::before {
  content: "expand_more";
  opacity: 1 !important;
  line-height: 10px;
  margin-top: 10px;
}
