$primary-blue-color: #2196f3;
$secondary-blue-color: #f2f8fd;
$tertiary-blue-color: #62c6ff;

$primary-white-color: #ffffff;
$secondary-white-color: #818D99;
$tertiary-white-color: #C7CED6;


$text-primary-color: #272D32;
$text-secondary-color: rgba(0, 0, 0, 0.6);
$text-error-color: #CA0061;
$text-success-color: #009292;

$priority-frame-low: #2F8D00;
$priority-shade-low: #F9FFF6;
$priority-txt-low: #165700;

$priority-frame-high: #FAC300;
$priority-shade-high: #FFFDF2;
$priority-txt-high: #624D00;

$priority-frame-critical: #EB0000;
$priority-shade-critical: #FFF6F6;
$priority-txt-critical: #7F0000;



